/* Yükleniyor animasyonu kapsayıcı */
.loading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Absolute yerine fixed, her zaman ortada kalmasını sağlar */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8); /* Opsiyonel arka plan */
    padding: 20px;
    border-radius: 10px;
}

/* Dönen çark */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

/* Animasyon efekti */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Responsive uyum */
@media (max-width: 480px) {
    .spinner {
        width: 40px;
        height: 40px;
        border-width: 6px;
    }

    .loading p,
    .loading span {
        font-size: 14px;
    }
}
